@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Open+Sans&family=Lato&family=Montserrat&family=Poppins&family=Oswald&display=swap');

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #1e1e1e;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 5px;
    border: 2px solid #1e1e1e;
}

::-webkit-scrollbar-thumb:hover {
    background: #bbd12b;
}

::-webkit-scrollbar-thumb:active {
    background: #a3c61f;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #307e1a #1e1e1e;
}

.horizontal-scroll {
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: #444 #1e1e1e;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #161313;
    color: #fff;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    color: #bbd12b;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

label {
    font-size: 1rem;
    font-weight: 600;
    color: #ddd;
}

input,
select,
button {
    width: 100%;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #252525;
    color: #fff;
    font-size: 1rem;
}

/* Button Styling */
.btn-primary {
    background-color: #bbd12b;
    color: #161313;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-primary:hover {
    background-color: #a3c61f;
    transform: scale(1.05);
}

.result {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #ff4747;
}
